<%- include("./partials/head.ejs") %>

<body >

    <%- include("./partials/header.ejs") %>

    <main class="main">
      <div class="main-div">
        <img src="/img/muebleria-trabajando.png" alt="">
        <h4 class="main-div-h4">
            Bienvenido a Avalanna: Tu Destino de Muebles en Línea

En Avalanna, nos dedicamos a brindarte una experiencia de compra de muebles en línea excepcional. Queremos ayudarte a transformar tu hogar en un espacio que refleje tu estilo y personalidad únicos.
</h4>
<h4>
Nuestra Misión

La satisfacción del cliente es nuestra máxima prioridad. Desde el momento en que navegas por nuestro sitio hasta la entrega de tu pedido, nos comprometemos a brindarte un servicio excepcional. Nuestro equipo está aquí para ayudarte en cada paso del proceso de compra y garantizar que encuentres exactamente lo que estás buscando.
</h4>
<h4>
Únete a la Familia Avalanna

Ya sea que estés buscando amueblar tu primera casa, renovar una habitación o simplemente agregar un toque de estilo a tu espacio, Avalanna está aquí para ayudarte. Únete a nuestra familia de clientes satisfechos y descubre por qué somos tu destino de confianza para muebles en línea.

¡Bienvenido a Avalanna, donde encontrarás muebles que amarás a primera vista!
 
<i class="fa-solid fa-heart"></i>
        </h4>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>
</body>

</html>