<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalanna Muebles</title>
    <link rel="shortcut icon" href="/img/aval.jpg" />
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <button class="button" id="boton"><a href="" class="hamburguesa"></a>
            <i class="fa-solid fa-bars"></i>
            <section>
                <article class="header__section__article-busqueda">
                    <form action="">
                            <input type="text" placeholder="Buscar" id="search">
                    </form>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </article>
                <article>
                    <img src="/img/imagotipo.png" alt="logo" width="50%">
                </article>
                <article>
                    <a href="/"><i class="fa-regular fa-user" style="color: #000000;"></i></a>
                    <a href="/"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></a>
                </article>
            </section>
    </header>
</body>
</html>