<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalanna Muebles</title>
    <link rel="shortcut icon" href="/img/aval.jpgno" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <button class="header_boton" id="boton"><i class="fa-solid fa-bars"></i></button>
        <div class="menu-desplegable">
            <div class="contenido-desplegable">
                <a href="">Muestrario de telas</a>
                <a href="">Muestrario de mármol</a>
                <a href="">Más diseños</a>
                <a href="">Inicio</a>
            </div>
        </div>
        <img src="/img/imagotipo.png" alt="logo">
        <div class="iconos">
            <a href="/"><i class="fa-regular fa-user"></i></a>
            <a href="/"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <form action="" class="input-container">
            <input class="search" type="text" placeholder="Buscar" id="search">
            <i class="fa-solid fa-magnifying-glass lupa"></i>
        </form>
    </header>

    <script>
        document.getElementById('boton').addEventListener('click', function () {
            document.querySelector('.menu-desplegable').classList.toggle('mostrar');
        });
    </script>
</body>

</html>