<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fc9c9e5a32.js" crossorigin="anonymous"></script>
    <title>AVALANNA MUEBLES</title>
</head>
<body>
    <main class="index__main">

        <a href="">
            <article class="index__main__carousel">
            <img src="/img/carousel-home.png" alt="muebles para exterior">
        <h2>ESENCIAL EXTERIOR</h2>
        <p>Conocé nuestros productos más elegidos
            para el exterior</p>
            </article>
        </a>

        <section class="index__main__section__categorias">
            <a href="">
                <article>
                    <img src="/img/living-home.png" alt="muebles para living">
                    <h2>LIVING</h2>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/img/cocina-home.png" alt="muebles para cocina">
                    <h2>COCINA</h2>
                </article>
            </a>
            <a href="">
                <article>
                <img src="/img/dormitorio-home.png" alt="muebles para dormitorio">
                <h2>DORMITORIO</h2>
            </article>
            </a>
            <a href="">
                <article>
                <img src="/img/exterior-home.png" alt="muebles para exterior">
                <h2>EXTERIOR</h2>
            </article>
            </a>
            <a href="">
                <article>
                    <img src="/img/combos-home.png" alt="muebles rojos">
                    <h2>COMBOS</h2>
                </article>
            </a>
            <a href="">
                <article>
                    <img src="/img/newIn-home.png" alt="sillas y desayunador">
                    <h2>NEW IN</h2>
                </article>
            </a>
        </section>
        <div class="index__main__div__frase">
            <h4>Elegí decorar y amoblar tu hogar con Avalanna Muebles</h4>
        </div>
    </main>
</body>
</html>