<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <form action=""><span><i class="fas fa-bars"></i>
        <input type="text" placeholder="Buscar"  id="search">
        <i class="fa-solid fa-magnifying-glass"></i></span>
    </form>
    <img src="img/sillon-login.jpg" alt="">
<img src="img/" alt="">
</body>
</html>