<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body> 
    <main>
        <img src="img/sillon-login.jpg" alt="">
        <img src="img/logo-circular.png" alt="">
    
        <h1>Bienvenidos</h1>
    
        <form action="login" method="post">
            <div>
            <label for="name"></label>
            <input type="text" name="nombre" id="nombre"  placeholder="Usuario">
            </div>
            <div>
            <label for="contraseña"></label>
            <input type="password" name="password" id="contraseña" placeholder="contraseña">
            </div>
            <div>  
            <input type="submit" value="Entrar">
            </div>
        </form>
        <ul type="none" id="menú-final">
            <li class="enlinea"><a href="/register">Registrarme |</a></li>
            <li class="enlinea"><a href="/">Olvide mi contraseña |</a></li>
        </ul>
    </main>
   
</body>
</html>