<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fc9c9e5a32.js" crossorigin="anonymous"></script>
    <title>Ingresar</title>
</head>
<body> 
    <header class="header">
    <button class="header_boton" id="boton"><i class="fa-solid fa-bars"></i></button>
    <div class="menu-desplegable">
        <div class="contenido-desplegable">
            <a href="">Muestrario de telas</a>
            <a href="">Muestrario de mármol</a>
            <a href="">Más diseños</a>
            <a href="">Inicio</a>
        </div>
    </div>
    <img src="/img/imagotipo.png" alt="logo">
    <div class="iconos">
        <a href="/"><i class="fa-regular fa-user"></i></a>
        <a href="/"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <form action="" class="input-container">
        <input class="search" type="text" placeholder="Buscar" id="search">
        <i class="fa-solid fa-magnifying-glass lupa"></i>
    </form>
</header>



    <main class="login__main">
        <section class="login__main__section-bienvenidos">
        <img src="img/logo-circular.png" alt="">
        <h1>Bienvenidos</h1>
        </section>
    
        <section class="login__main__section-form">
            <h2>Acceso <i class="fa-solid fa-user"></i></h2>
            <form action="login" method="post" class="login__main__section__form">
                
                <input type="text" name="nombre" id="nombre" class="usuario" placeholder="Usuario">
                
                <input type="password" name="password" id="contraseña" placeholder="Contraseña">

                <button type="submit" class="login__main__section__form-button">Entrar</button>

            </form>
            <ul type="none" class="login__main__section__ul">
                <li ><a href="/registrarme">Registrarme </a></li>
                <li ><a href="/">Olvidé mi contraseña </a></li>
            </ul>
        </section>
    </main> 
    
    <footer>
        <section class="footer__section__1">
        <nav>
            <ul class="lista-footer"> 
                <h4>Contacto</h4>
                <li><a href=""><i class="fa-solid fa-map-location-dot"></i> Dr. Ignacio Pirovano 1864,<br>
                     B1665 José C. Paz,<br>
                      Provincia de Buenos Aires</a></li><br>
                <li><a href=""><i class="fa-solid fa-phone"></i> 011 3076-1743</a></li><br>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i> 011 3076-1743</a></li>
            </ul>
        </nav>
    
        <nav>
            <ul class="lista-footer"> 
                <h4>Productos</h4>
                <li><a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Categorías</a></li><br>
                <li><a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Personalizado</a></li>
            </ul>
        </nav>
    </section>
    <section class="footer__section__2">
        <nav>
            <ul class="lista-footer"> 
                <h4>Seguinos en las redes</h4>
                <li><a href=""><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
            </ul>
        </nav>
    
        <nav>
            <ul class="lista-footer"> 
                <h4>Sobre nosotros</h4>
                <li><a href=""><i class="fa-solid fa-circle fa-2xs"></i> Quienes somos</a></li>
            </ul>
        </nav>
    
        <nav>
            <ul class="lista-footer"> 
                <h4>Consultas frecuentes</h4>
                <li><a href=""><i class="fa-solid fa-credit-card"></i> Métodos de pago</a></li><br>
                <li><a href=""><i class="fa-solid fa-truck"></i> Métodos de envío</a></li>
            </ul>
        </nav>
    </section>
    
       <div class="desplegable">
        <button button-desplegable> Contacto <i class="fa-solid fa-caret-down"></i></button>
        <div class="contenido-desplegable">
        <a href=""><i class="fa-solid fa-map-location-dot"></i> Dr. Ignacio Pirovano 1864, B1665 José C. Paz, Provincia de Buenos Aires</a>
        <a href=""><i class="fa-solid fa-phone"></i> 011 3076-1743</a>
        <a href=""><i class="fa-brands fa-whatsapp"></i> 011 3076-1743</a>
        </div>
      </div>
    
      <div class="desplegable">
        <button> Productos <i class="fa-solid fa-caret-down"></i></button>
        <div class="contenido-desplegable">
        <a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Categorías</a>
        <a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Personalizado</a>
        </div>
      </div>
    
      <div class="desplegable">
        <button > Seguinos en las redes <i class="fa-solid fa-caret-down"></i></button>
        <div class="contenido-desplegable">
        <a href=""><i class="fa-brands fa-square-facebook"></i> Facebook</a>
        </div>
      </div>
    
      <div class="desplegable">
        <button> Sobre nosotros <i class="fa-solid fa-caret-down"></i></button>
        <div class="contenido-desplegable">
        <a href=""><i class="fa-solid fa-circle fa-2xs"></i>Quienes somos</a>
        </div>
      </div>
    
      <div class="desplegable">
        <button> Consultas frecuentes <i class="fa-solid fa-caret-down"></i></button>
        <div class="contenido-desplegable">
        <a href=""><i class="fa-solid fa-truck"></i> Métodos de pago</a>
        <a href=""><i class="fa-solid fa-credit-card"></i> Métodos de envío</a>
        </div>
      </div>
    
    </footer>
    <script>
        document.getElementById('boton').addEventListener('click', function () {
            document.querySelector('.header__menu-desplegable').classList.toggle('mostrar');
        });
    </script>
</body>
</html>