<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalanna Muebles</title>
    <link rel="shortcut icon" href="/img/aval.png" />
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>
    <section>
        <div class="titulo-icon">
            <p class="titulo">Carrito de compra</p>
            <a href="/"><i class="fa-solid fa-cart-shopping icon-cart" style="color: #000000;"></i></a>
        </div>
        <hr>
        <div class="subtitulos">
            <h3 class="producto">Producto</h3>
            <h3 class="precio">Precio</h3>
            <h3 class="Cantidad">Cantidad</h3>
            <h3 class="total">Total</h3>
        </div>
        <hr>
        <div class="contenedor-detalle">
            <div class="producto-detalle">
                <img class="imagen-detalle" src="/img/mueblecocina.jpg" alt="producto" width="50%">
                <h4 class="texto-detalle">Combo de cocina en mdf con
                    contorno y tiradores de aluminio.</h4>
            </div>
            <div class="producto-precio">
                <h4>$95000</h4>
            </div>
            <div class="producto-cantidad">
                <button class="uno">+  1  -</button>
            </div>
            <div class="producto-total">
                <h4>$950000</h4>
            </div>
        </div>
        <article class="actualizar_seguir">
            <span class="boton1">
                <button>Actualizar carrito</button></span>
            <span class="boton2"><button>Seguir comprando</button></span>
            <hr>
        </article>
    </section>
    <article class="subtotal_precio">
        <h2 class="subtotal">Subtotal</h2>
        <h2 class="precio-total">$950000</h2>
    </article>
    <hr>
    <article class="finalizar-compra">
        <button class="finalizar">Finalizar compra</button>
    </article>
</body>

</html>