<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalanna Muebles</title>
    <link rel="shortcut icon" href="/img/aval.png" />
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <button class="button" id="boton"><a href="" class="hamburguesa"></a>
            <i class="fa-solid fa-bars"></i>
            <section>
                <article>
                    <p>barra de busqueda</p>
                </article>
                <article>
                    <img src="img/aval.png" alt="logo" width="10%">
                    <img src="img/avalannamuebles.png" width="20%">
                </article>
                <article>
                    <a href="/"><i class="fa-regular fa-user" style="color: #000000;"></i></a>
                    <a href="/"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></a>
                </article>
            </section>
    </header>
    <section>
        <article>
            <p>Carrito de compra</p>
            <a href="/"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></a>
        </article>
        <article>
            <h3>Producto</h3>
            <img src="img/cocina.png" alt="producto" width="10%">
            <h4>Combo de cocina en mdf con
                contorno y tiradores de aluminio.</h4>
        </article>
        <article>
            <h3>Precio</h3>
            <h4>$95000</h4>
        </article>
        <article>
            <h3>Cantidad</h3>
            <h4>+ 1 -</h4>
        </article>
        <article>
            <h3>Total</h3>
            <h4>$950000</h4>
        </article>
        <button>Actualizar carrito</button>
        <button>Seguir comprando</button>
        <article>
            <h2>Subtotal</h2>
            <h2>$950000</h2>
        </article>
    </section>
    <button>Finalizar compra</button>
</body>

</html>