<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVALANNA MUEBLES.</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="https://kit.fontawesome.com/b2415c23bd.js" crossorigin="anonymous"></script>
</head>
   <body>
    
       

 <main class="productDetail__main">
            
        <section class="seccion__productos">
            <img class="detalles" src="img/sillon3cuerpos.png" alt="">  
            <div class="precios">
                <div class="seccion__productos--titulo">  
            <h1 class="seccion__productos--titulo">Sillon de 3 cuerpos</h1>
            <p class="color"><del>$560.000</del></p>
            <p class="color">$246.000</p>
            <p class="color"><b>Ahorras un 40%</b></p>
            <button class="productDetail-button"><p>comprar ahora</p></button>
            <div>
            
               <button class="productDetail-button"><p>Agregar al carrito</p></button><br><b></b>
              <button class="productDetail-button"><p>Envios a domicilio<i class="fa-solid fa-truck-fast" style="color: #000000;"></i></button> <br><b></p>
               <button type="submit" class="button_a_p"><a href="http://localhost:3030/"><p>ver mas</p></a></button><b>
         
            </div>
            </div>
        </div>
      
            <article  class="productDetail-descripcion">
                <h4><b class="Descripción__detail">Descripción</h4>
                <h6>Armados con madera maciza, cepillada y<br>
                    estacionada. No madera verde, ni madera de<br>
                    palets. Con terminaciones de primer nivel, <br>con sus
                    esquinas encoladas y bien escuadradas. <br>
                    
                   Patas:forma piramidal recta macizas en madera de paraiso  Medidas</h6>
                    <ul class="productDetail-li">
                <li>Alto 82cm</li>
                 <li>Ancho 220cm</li> 
                <li>Profundidad 170cm</li></b>
        </ul>
      </article>
    </section>
    
    <div class="uno">    
        <h3 class="productDetail_relacionados">Productos relacionados</h3>
<article class="imagenes_relacionadas">
     <img class="img1" src="img/sillon1.png" alt="" width="600px">
    <img class="img1" src="img/sillon.png" alt="">
    <img class="img1" src="img/juego.png" alt="">
    <img class="img1" src="img/sillon2.png" alt="">
    <img class="img1" src="img/juego sillon.png" alt="">
    <img class="img1" src="img/divan.png" alt="">

</article>   
</div>  
</main> 

</body>
</html>
