

.lista-footer li a{
    color: #000000;
    padding: 5px;
    text-decoration: none;

}


footer {
    background-color: #C7C1BF;
    list-style-type: none;
    padding:10px 0 10px 0;
}

li{
    list-style-type: none;
}

.desplegable {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .contenido-desplegable {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0);
    background-color: white;
  }
  .desplegable:hover .contenido-desplegable {
    display:block;
    margin-bottom: 100px;
    z-index: 15;
  }
  .contenido-desplegable a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }

  button{
    width: 100%;
    align-self: flex-end; 
  }

  @media (max-width: 767px){
    footer nav{
        display: none;
  }
  }

  @media (min-width: 768px){
   
    footer button {
        display: none;
    }
}


@media (min-width:1024px){
    footer button {
        display: none;
    }
}
