/* body {
    font-family: "Raleway", sans-serif;
}


.titulo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}


.titulo {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

.icon-cart {
    position: absolute;
    top: 25px;
    right: 15px;

}

.imagen-detalle {
    width: 70%;
    height: 60%;
    position: relative;
    top: 10%;

}

.producto {
    width: 45%;
    text-align: center;
}

.precio {
    width: 30%;
    text-align: center;
}

.cantidad {
    width: 30%;
    text-align: center;
}

.total {
    width: 30%;
    text-align: center;


}

.subtitulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.contenedor-detalle {
    background-color: #D1D1D1;
    display: flex;
    width: 100%px;
    height: 250px;
}

.producto-detalle {
    width: 45%;
    display: flex;
}

.texto-detalle {
    padding: 16px;

}

.producto-precio {
    width: 17%;
    text-align: center;

}

.producto-cantidad button {

    text-align: center;
    padding: 10px;
    width: 155%;


}

.uno {
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}


.producto-total {
    width: 20%;
    text-align: right;
}


.actualizar_seguir {
    text-align: center;

}

.actualizar_seguir button {
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    justify-content: end;
    margin: 0px;
}

.boton1 {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #000;
    height: 20px;
}

.boton2 {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.subtotal_precio {
    text-align: center;
    font-family: "Raleway", sans-serif;
    display: flex;
    font-size: 17px;

}

.subtotal {
    text-align: center;

}

.precio-total {
    text-align: right;
    width: 89%;

}

.finalizar-compra button {
    padding: 20px 35px;
    background-color: #4D4D4D;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 73%;
    right: 37%;
    font-size: 25px;

}

@media(min-width:768px) {
    .titulo {
        font-size: 25px;
        text-align: center;
        font-weight: 100;
    }

    .finalizar-compra button {
        border-radius: 1px;
        position: absolute;
        top: 85%;
        right: 34%;
    }

    .contenedor-detalle {

        width: 80%px;
        height: 200px;
    }

    .texto-detalle {
        padding: 4px;


    }

    .subtotal_precio {
        text-align: center;
        font-family: "Raleway", sans-serif;
        display: flex;
        font-size: 12px;

    }


} */


.titulo {
    font-size: 26px;
    padding: 10px;
}


.titulo-icon {
    display: flex;
    font-size: 20px;
    right: -12%;
    position: relative;
}

.subtitulos {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
   
}

.contenedor-detalle {
    width: 30%px;
    height: 340px;
}

.Cantidad {
    display: none;
}

.producto-cantidad button {
    position: absolute;

}

.imagen-detalle {
    width: 50%;
    height: 90px;
    display: flex;
    position: relative;
    top:20px;
    right: -8px;

}

.precio {
    position: relative;
    left: 15%;
}

.producto-precio{
    display: flex;
    position: relative;
}
/* 

}

.producto-total {
    position: absolute;
    left: 75%;
}

.texto-detalle {
    position: absolute;
    top: 37%;
    width: 60%;
    right: 31%;
}

.producto-cantidad button {
    padding: 3px;
    width: 90%;
    top: 51.5%;
    left: 2%;

}

.actualizar_seguir {
    position: absolute;
    top: 73%;
    left: 15px;
}

.boton1 button {
    padding: 4px 2px;
    background-color: #000;
    color: white;
    border: none;
    position: absolute;
    top: -180%;
    left: 15%;
    position: absolute;



}

.boton2 button {
    padding: 4px 4px;
    background-color: #000;
    color: white;
    border: none;
    margin-top: -18px;
}

.subtotal_precio {

    font-size: 11px;

}

.finalizar-compra button {

    position: absolute;
    top: 89%;
    right: 18%;
    padding: 5px;
}
 */







/* @media(min-width:1024px) {
    body {
        font-family: "Raleway", sans-serif;
    }


    .titulo-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }


    .titulo {
        font-size: 28px;
        text-align: center;
        font-weight: 700;
    }

    .icon-cart {
        position: absolute;
        top: 25px;
        right: 15px;

    }

    .imagen-detalle {
        width: 70%;
        height: 60%;
        position: relative;
        top: 10%;

    }

    .producto {
        width: 45%;
        text-align: center;
    }

    .precio {
        width: 30%;
        text-align: center;
    }

    .cantidad {
        width: 30%;
        text-align: center;
    }

    .total {
        width: 30%;
        text-align: center;


    }

    .subtitulos {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
    }

    .contenedor-detalle {
        background-color: #D1D1D1;
        display: flex;
        width: 100%px;
        height: 250px;
    }

    .producto-detalle {
        width: 45%;
        display: flex;
    }

    .texto-detalle {
        padding: 16px;

    }

    .producto-precio {
        width: 17%;
        text-align: center;

    }

    .producto-cantidad button {

        text-align: center;
        padding: 10px;
        width: 155%;


    }

    .uno {
        font-size: 25px;
        margin: 10px;
        padding: 10px;
    }


    .producto-total {
        width: 20%;
        text-align: right;
    }


    .actualizar_seguir {
        text-align: center;

    }

    .actualizar_seguir button {
        padding: 10px 20px;
        background-color: transparent;
        color: #000;
        border: none;
        font-family: "Raleway", sans-serif;
        font-size: 28px;
        justify-content: end;
        margin: 0px;
    }

    .boton1 {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 2px solid #000;
        height: 20px;
    }

    .boton2 {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }

    .subtotal_precio {
        text-align: center;
        font-family: "Raleway", sans-serif;
        display: flex;
        font-size: 17px;

    }

    .subtotal {
        text-align: center;

    }

    .precio-total {
        text-align: right;
        width: 89%;

    }

    .finalizar-compra button {
        padding: 20px 35px;
        background-color: #4D4D4D;
        color: white;
        border-radius: 1px;
        cursor: pointer;
        font-family: "Raleway", sans-serif;
        position: absolute;
        top: 73%;
        right: 37%;
        font-size: 25px;

    }
} */