@import url(https://fonts.google.com/share?selection.family=Raleway:wght@100;600);

/*VARIABLES*/
:root {
    --gris-oscuro: #4d4d4d;
    --gris-claro: #d1d1d1;
    --gis:#c7c1bf;
    --negro:#090915;
  
/* Fuentes */
--fuentes:raleway

 /*TAMAÑO DE LETRAS*/
 --parrafos: 24px;
      --titulos: 40px;
      --precio: 10px;
      --descuento: 12px;
      --descripcion: 24px;
}
@media(min-width: 360px){
img {
    width: 28%;
    height: 50%;
}
.detalle{
    width: 38%;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
p {
    font-size: var(--parrafos);
}
body {
    background-color:rgb(241, 246, 246);
}




    /*MAIN*/

    .home_productos_img {
        width: 90%;
        margin: auto;
        display: flex;
       flex-direction: column;
       flex-wrap: wrap;
      padding: 10px;
    position:relative;
    
}
    .precios{
        text-align:right;
        padding-right: 50%;
        background-position: right top; 
        justify-content:right top;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       }
       fieldset{
        background-color:var(--gris-claro); 
    .descripcion{
        text-align: center;
        justify-content:right;
        width: 20%;
        
}
       }
       .button{
        background-color: #4d4d4d;
        width:7%;
        text-align: center;
        }

    .imagenes_relacionadas{
        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        height: 600px;
        }
.contenedor1{
display: flex;
justify-content:center;
margin-bottom: 19px ;
 padding: 2%; 
}
.img1{
margin-right: 30px;
}  
.img2{
    margin-right: 70px;
}
   .img4{
    margin-right: 70px;
   }

   .img5{
    margin-right: 70px;
   }
   

}
