

:root {
    --gris-oscuro: #4d4d4d;
    --gris-claro: #d1d1d1;
    --gis:#c7c1bf;
    --negro:#090915;
  

--fuentes:"Raleway"


 --parrafos: 24px;
      --titulos: 40px;
      --precio: 10px;
      --descuento: 12px;
      --descripcion: 24px;
}

img {
    width: 22%;
    height: 50px;
    padding-bottom: 20px;
    margin-right:5px ;
    }

    * {
        margin: 0px;
        padding: 0;
        font-family: var(--fuentes);
    }

p {
    font-size: 3px;
    text-align: left 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color:var(--gris-claro);
}


    .productDetail__main {
        width: 100%;
        flex-wrap: wrap;
      border: #090915;
      justify-content: center;
      background-color: var(--gris-claro)
     }
   .seccion__productos{
    display: flex;
 flex-wrap: wrap;
 margin-left: 190px;
}

   .detalles{
    height: 120px;
    margin-top: 15px;
    width: 100px;
    } 

    .precios{
        background-color: var(--gris-claro);
        width: 90px;
        height: 120px;
         margin: 15px;
         border:1px solid rgba(1, 10, 10, 0.74);
         text-align: left;
    }

    .seccion__productos--titulo{
        text-align: center;
        font-size: 7px;
        height: 30%;
        }
        .color{
            margin-right:50%;
            margin-bottom: 5px;
        }
       
    .productDetail-button{
    font-size: small;
    background-color:#a9a6a6;
    border-radius: 28%;
    width: 57px;
    height: 19px;
    margin-bottom: 7px;
}
.button_a_p{
    font-size: small;
    background-color:#a9a6a6;
    border-radius: 28%;
    width: 20px;
    height: 8px;
    margin-right:50%;
}

.productDetail-button{
    background-color:#a9a6a6;
    border-radius: 28%;
    width: 40px;
    height: 10px;
}


.productDetail-button{
    background-color:#a9a6a6;
    border-radius: 28%;
    width: 40px;
    height: 10px;
    margin-right:50%;
}
.productDetail-li{
    font-size: 7px;
    font-family:"Raleway";
    }
    .productDetail_relacionados{
        height: 7px;
        text-align: left;
        margin: 45px ;
        margin-top: 5px;
        font-size: 10px;
        font-style: normal;
        margin-left: 45px;
        }
    .imagenes_relacionadas{
        display: flex;
        flex-wrap: wrap;
        justify-content:right ;
         margin: 170px;
         margin-top:-25px;
         margin-left: 18px;
         height:10px;
 }

.h4{
    font-size: 10px;
    font-style: normal;
    display: inline;
    margin-right: 1%;
    padding-right: 7%;
}

.productDetail-descripcion{
    margin: 2px 50px;
    text-align:left;
    margin-top: -5px;
}
.Descripción__detail{
    margin: 20px 150px;
    text-align:left ;
    margin-top: -5px;
    margin-left: -15.5%;
}  
h6{
    font-size:8px ;
    margin-left:-15.5% ;
}
.seccion__productos{
    margin-left: 30px;
    text-align:left;
    background-color:rgba(204, 211, 211, 0.995);
}

.img1 {
    border:5px solid rgba(204, 211, 211, 0.995);
    margin:1%
  }
  .productDetail-li{
    font-size:8px ;
    margin-left:-15.5% ;
    margin-top:-8% ;
  }

@media(min-width:768px){
    img {
        width: 150px;
        height: 100px;
        padding-bottom: 25px;
        margin-right:8px ;
        }
        .detalles{
            height: 230px;
            margin-top: 15px;
            width: 250px;
            } 
        
            .productDetail-descripcion{
                margin: 15px 155px;
                text-align:left;
                margin-top: 10px;
            } 
            .seccion__productos--titulo{
                text-align: center;
                font-size: 10px;
                
                }
                .img1 {
                    border:15px solid rgba(204, 211, 211, 0.995);
                }
                
                .precios{
                    background-color: var(--gris-claro);
                    width: 130px;
                    height: 225px;
                     margin: 15px;
                     border:1px solid rgba(1, 10, 10, 0.74)
                }

                p {
                    font-size: 7px;
                    text-align: left 100%;
                    margin: 4px;
                    padding: 0;
                }
                .productDetail-button{
                    background-color:#a9a6a6;
                    border-radius:20%;
                    width: 90px;
                    height: 20px;
                    margin-left:6px;
                } 

                .button_a_p{
                    font-size: small;
                    background-color:#a9a6a6;
                    border-radius: 25%;
                    width: 48px;
                    height: 20px;
                   
                }

}

@media (min-width:1024px){
.color{
    margin-bottom: 7%;
}
    img {
        width: 20%;
       padding-bottom: 35px;
        margin-right:15px ;
        }
        .detalles{
            height: 230px;
            margin-top: 15px;
            width: 250px;
            } 
        
            .productDetail-descripcion{
                margin: 25px 185px;
                text-align:left;
                margin-top: 15px;
                font-size: 15px;
            } 
            .seccion__productos--titulo{
                text-align: center;
                font-size: 10px;
                }
                
                .precios{
                    background-color: var(--gris-claro);
                    width: 150px;
                    height: 225px;
                     margin: 15px;
                     border:1px solid rgba(1, 10, 10, 0.74)
                }

                p {
                    font-size: 7px;
                    text-align: left 100%;
                    margin: 4px;
                    padding: 0;
            }
                .productDetail-button{
                    background-color:#a9a6a6;
                    border-radius: 28%;
                    width: 90px;
                    height: 18px;
                } 
                .productDetail-button:hover{
                    background-color:var(--gris-oscuro);
                    color:#a9a6a6;
                    }

                .button_a_p{
                    font-size: medium;
                    background-color:#a9a6a6;
                    border-radius: 28%;
                    width: 50px;
                    height: 19px;
                }
                .button_a_p:hover{
                    background-color:var(--gris-oscuro);
                color: var(--gris-claro);
                }
                .imagenes_relacionadas{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: left ;
                     width: 100%;
                     
                     
             }
             .imagenes_relacionadas img{
            width: 25%;
          
             }
             h3{
                height: 10px;
                text-align: left;
                margin: 45px ;
                margin-top: 15px;
                font-size: 20px;
                font-style: normal;
                margin-left: 31px;
           }
        }