@import url(https://fonts.google.com/share?selection.family=Raleway:wght@100;600);

/*VARIABLES*/
:root {
    --gris-oscuro: #4d4d4d;
    --gris-claro: #d1d1d1;
    --gis:#c7c1bf;
    --negro:#090915;
  
/* Fuentes */
--fuentes:raleway

 /*TAMAÑO DE LETRAS*/
 --parrafos: 24px;
      --titulos: 40px;
      --precio: 10px;
      --descuento: 12px;
      --descripcion: 24px;
}

header {
    background-color: white;
    padding: 10px 0 10px 0;
}

.contenedor_logo{
background-color:white;
display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
}

 