.titulo {
    font-size: 26px;
    padding: 10px;
    position: relative;
}

.carrito {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 19px;
}

.subtitulos {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 13px;

}

.contenedor-detalle {
    width: 30%px;
    height: 340px;
    background-color: #D1D1D1;
}

.Cantidad {
    display: none;
}

.imagen-detalle {
    width: 50%;
    height: 90px;
    display: flex;
    position: relative;
    top: 20px;
    right: -8px;

}

.precio {
    position: relative;
    left: 15%;
}



.producto-cantidad button {
    position: absolute;
    padding: 3px;
    width: 95%;
    height: 33px;
    top: 46%;
    left: 2%;


}


.producto-precio {
    position: relative;
    right: -57%;
    top: -22%;
    border: 1px;
}

.producto-total {
      position: absolute;
      right: 3px;
      top: 17.5%;
     



}

.texto-detalle {
    position: absolute;
    top: 34%;
    width: 60%;
    right: 37%;
    font-family: "Raleway", sans-serif;
}


.actualizar_seguir {
    position: absolute;
    right: 88%;
    top: 57%;
    
}

.boton1 button {
    padding: 3px 95px;
    background-color: #000;
    color: white;
    border: none;
    /* top: -160%; */
    /* left: 60%; */
    position: absolute;
    top:30px;
    
}

.boton2 button {
    padding: 3px 90px;
    background-color: #000;
    color: white;
    border: none;
    margin-top: -18px;
    position: absolute;
    


}

.subtotal_precio {
    position: relative;
    top:15px;
    
}

.subtotal {
    position: absolute;

}

.precio-total {
    position: absolute;
    right: 5px;;
}

.finalizar-compra button {
    position: absolute;
    top: 85%;
    right: 18%;
    padding: 5px;
    background-color: #000;
    color: white;
    font-size: 25px;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 350px;
    padding: 0;
    margin: 51px auto 0 auto;
   
    
}




/* @media(min-width:1024px) {
    body {
        font-family: "Raleway", sans-serif;
    }


    .titulo-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }


    .titulo {
        font-size: 28px;
        text-align: center;
        font-weight: 700;
    }

    .icon-cart {
        position: absolute;
        top: 25px;
        right: 15px;

    }

    .imagen-detalle {
        width: 70%;
        height: 60%;
        position: relative;
        top: 10%;

    }

    .producto {
        width: 45%;
        text-align: center;
    }

    .precio {
        width: 30%;
        text-align: center;
    }

    .cantidad {
        width: 30%;
        text-align: center;
    }

    .total {
        width: 30%;
        text-align: center;


    }

    .subtitulos {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
    }

    .contenedor-detalle {
        background-color: #D1D1D1;
        display: flex;
        width: 100%px;
        height: 250px;
    }

    .producto-detalle {
        width: 45%;
        display: flex;
    }

    .texto-detalle {
        padding: 16px;

    }

    .producto-precio {
        width: 17%;
        text-align: center;

    }

    .producto-cantidad button {

        text-align: center;
        padding: 10px;
        width: 155%;


    }

    .uno {
        font-size: 25px;
        margin: 10px;
        padding: 10px;
    }


    .producto-total {
        width: 20%;
        text-align: right;
    }


    .actualizar_seguir {
        text-align: center;

    }

    .actualizar_seguir button {
        padding: 10px 20px;
        background-color: transparent;
        color: #000;
        border: none;
        font-family: "Raleway", sans-serif;
        font-size: 28px;
        justify-content: end;
        margin: 0px;
    }

    .boton1 {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 2px solid #000;
        height: 20px;
    }

    .boton2 {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }

    .subtotal_precio {
        text-align: center;
        font-family: "Raleway", sans-serif;
        display: flex;
        font-size: 17px;

    }

    .subtotal {
        text-align: center;

    }

    .precio-total {
        text-align: right;
        width: 89%;

    }

    .finalizar-compra button {
        padding: 20px 35px;
        background-color: #4D4D4D;
        color: white;
        border-radius: 1px;
        cursor: pointer;
        font-family: "Raleway", sans-serif;
        position: absolute;
        top: 73%;
        right: 37%;
        font-size: 25px;

    }
} */