
.actualizar__main__section-form {
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2%;
    width: 100%;
}

.actualizar__main__section-form form{
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.actualizar__main__section-form form input{
    width: 300px;
    background-color:var(--color-gris-claro);
    color: black;
    padding: 1% 3%;
    margin-top: 2%;
}


.actualizar__main__section__form-button{
    background-color: var(--color-gris-oscuro);
    color: white;
    font-weight: 400;
    border: none;
    font-size: 22px;
    padding: 3% ;
    width: 100%;
  margin-top:8%;
  margin-bottom: 40px;
}

.actualizar__main__section__actualizar{
    margin-top: 20px;
    
}

.actualizar__main__section__form div img{
width: 50%;
margin-bottom: 20px;
}

.actualizar__main__section__form div label{
    font-size: 18px;
}

.actualizar__main__section-form-div-booton{
width: 35%;
}

@media (min-width:768px){
    .actualizar__main{
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 0%;
    }
   
    .actualizar__main__section-form{
        width: 100%;
    }

    .actualizar__main__section__form-button{
    font-size: 45px;
    padding: 2%;
    transition: all 1s;
    width: 100%;
  
    }
    
    .actualizar__main__section-form form input{
        font-size: 20px;
        width: 500px;
        
       
    }
    .actualizar__main__section__form-button{
        margin-top: 15%;
    }
    
}

@media (min-width:1024px){
    .actualizar__main{
        padding-bottom: 0%;
    }
   
    .actualizar__main__section-form{
        width: 100%;
    }
    
    .actualizar__main__section-form form input{
        font-size: 20px;
        width: 500px;
        
    
    }
  .actualizar__main__section__form-button{
    font-size: 45px;
    padding: 3% 4%;
    transition: all 1s;
    width: 100%;
    padding: 5% 4%;
  }
  .actualizar__main__section__form-button:hover{
    background-color: var(--color-gris-claro);
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    width: 78%;
  }
 
}
