.header {
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 2% 1% 3% 2%;
    align-items: center;
    position: relative;
    display: block;
}

.header_boton {
    background: none;
    border: none;
   font-size: 20px;
   width: 10%;
   margin-left: -2%;
}

.header__section__article-busqueda {
    width: 30%;
}


#iconos {
    display: flex;
    right: 1%;
    position: absolute;
    top: 6px;
    margin-left: 5%;
    width: 30%;
}

.iconos a {
    margin: 9px;
    font-size: 18px;
    color: black;
}

.header img {
    width: 105px;
    position: absolute;
    right: 24%;
    top:-1px;
}


.search {
    position: relative;
    width: 60%;
    margin: 2px;
    padding: 2%;
}

.lupa {
    position: absolute;
    top: 11px;
    left: 90px;
}
.lupaIcon{
    top:8px;
}
.buscador{
    padding: 3% 3% 2% 3%;
    width: 72%;
}

.header__menu-desplegable {
    display: flex;
}

.input-container {
    display: flex;
}


.header__div-form{
    position: absolute;
    top: 5px;
    left: 30px;
}

.header__menu-desplegable{
    display: block;
    font-family: "Raleway", sans-serif;
}

.header__contenido-desplegable {
    display: none;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0);
    background-color: white;
    padding: 10% 2%;
    width: 100%;
    z-index: 15;
    position:relative;
    margin-top: 2%;
}

.header__menu-desplegable:hover .header__contenido-desplegable {
    display:block;
    width: 100%;
}


.header__contenido-desplegable a {
    display: block;
    color: #000000;
    padding: 3% 0% ;
    text-decoration: none;
    background-color: #fff;
    width: 100%;
}

.header__menu-desplegable:ac {
    display: none;
    position: absolute;
    top: 7%;
    left: 0;
    padding: 8px;
    background-color: #000;
    width: 100%;
    margin-top:1% ;
}

.header__menu-desplegable.mostrar {
    display: block;
}

#header__contenido-desplegable-profile {
    width: 65%;
}
#header__contenido-desplegable-profile button{
    width: 95%;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 50%);
    border-radius: 30%;
    padding: 1% 2%;
    position: relative;
    left: 25%;
    top: -5px;
}
#header__contenido-desplegable-profile button:hover{
    top: -5px;
}
#header__contenido-desplegable-profile-div{
    z-index: 20;
    position: relative;
}
.iconos-profile{
    display: flex;
    right: 4%;
    position: absolute;
    top: 2px;
    width: 25%;
    
}
.iconos-profile a{
    margin: 9px;
    font-size: 18px;
    color: black;
}
#header__contenido-desplegable-profile-div{
    right: -25%;
}
#header__contenido-desplegable-profile-div a{
font-size: 8px;
padding: 4% 0;
width: 90%;
border-bottom: 1px solid rgba(0, 0, 0, 50%);
margin: 0 0 0 7%;
}

.iconos-profile-without-session{
    position: relative;
    top: 1%;
}

.iconos-profile-carrito-div{
    width: 8%;
   position: absolute;
 
}
.iconos-profile-carrito-div a{
    width: 100%;
    position: relative;
}

.iconos-profile-without-session-user{
    position: absolute;
    right: 15%;
    font-size: 20px;
    z-index: 15;
    top: 8px;
}


.iconos-profile-without-session-user a i{
color: black;
}

.iconos-profile-without-session-cart {
    position: absolute;
    top: 8px;
    right: 5%;
    font-size: 20px;
    z-index: 15;
}
.iconos-profile-without-session-cart a i{
    color: black;
}

.iconos-profile-without-session p{
    position: absolute;
    font-size: 10px;
    top: -7px;
    right: 9px;
    font-weight: 600;
    padding: 0;
    margin: 0;

}

@media(min-width:768px) {
    .header{
        padding: 1% 1% 1% 2%;
    }
    .header-vistas{
        padding: 1.5%;
    }
    .header_boton {
        font-size: 50px;
        width: 15%;
        margin-left: -4%;
        margin-top: -1.5%;
    }
    .header__boton-vistas{
        margin-top: -0.8%;
    }
    .input-container{
        width: 100%;
        position: absolute;
        top: -1px;
        left: 45px;
    }
    .search {
        width: 100%;
        top: 8;
        padding: 6% 10%;
        font-size: 18px;
    }
    .header__div-form{
        width: 35%;
    }
    .header img {
        display: flex;
        top: -15px;
        margin: 5px;
        width: 220px;
    }

    #iconos{
        right: 11px;
        top: 13px;
    }
    .iconos-vistas{
        top:5px;
    }
    .iconos a {
        font-size: 35px;
        margin: 15px 11px 11px 11px;
    }
    
    .lupa {
        top: 22px;
        font-size: 25px;
        left: 229px;
    }

    .header__menu-desplegable {
        top: 12%;
        width: 20%;
    }
    .header__contenido-desplegable{
        margin-left: -1%;
    }
    #header__contenido-desplegable-profile {
        width: 100%;
        margin-left: 15%;
    }
    #header__contenido-desplegable-profile button:hover{
        top: 2%;
    }
    #header__contenido-desplegable-profile i{
        width: 10%;
    }
    
    #header__contenido-desplegable-profile button{
        width: 100%;
        font-size: 16px;
        left: 8%;
        top: 10%;
        padding: 10% 5%;
    }
    #header__contenido-desplegable-profile-div{
        z-index: 20;
        margin-top: 8%;
    }
    .iconos-profile{
        display: flex;
        width: 28%;
    }
   
    .iconos-profile-carrito-div{
        width: 8%;
       position: absolute;
       bottom: -15%;
    }
    .iconos-profile-carrito-div a{
        width: 100%;
        position: relative;
        top:100%;
    }
    .iconos-profile a{
        margin: 9px;
        font-size: 35px;
        color: black;
    }
    .iconos-profile-without-session-user{
        font-size: 35px;
        right: 13%;
    }
    .iconos-profile-without-session-cart{
        font-size: 35px;
    }
    
    #header__contenido-desplegable-profile-div{
        right: -10%;
        box-shadow: 0 4px 2px -2px gray;
    }
    #header__contenido-desplegable-profile-div a{
    font-size: 14px;
    padding: 4% 0;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 50%);
    margin: 0 0 0 4%;
    }
    .iconos-profile-without-session p{
        font-size: 14px;
    }
}



@media(min-width:1024px) {
.header{
    padding: 1% 2% 1.5% 2%;
}
    .header_boton {
        font-size: 50px;
        margin-top: 0.5%;
    }
    .input-container {
        left: 22%;
    }
    .input-container-vistas{
        top: 5px;
    }

    .search {
        font-size: 29px;
        top: 8px;
        padding: 2.5% 10%;
    }

    .lupa {
        top: 23px;
        left: 80%;
        font-size: 35px;
    }

    .header img {
        width: 225px;
        right: 28%;
        top: -8px;
        margin: 10px;
    }

    #iconos {
        right: 15px;
        top: 15px;
    }
    
    .iconos a {
        font-size: 40px;
        margin: 18px;
    }
    .iconos-profile{
        margin-top: 0.5%;
    }
    .iconos-profile-without-session {
        top: 5px;
    }
    #iconos .fa-cart-shopping{
        position: relative;
        top: 1px;
    }
    .header__menu-desplegable {
        top: 10px;
        width: 20%;
        margin: 0;
        padding: 0;
    }
    
    .header__contenido-desplegable{
        margin-left: -5%;
    }

    .header__contenido-desplegable a {
        font-size: 25px;
    }
    .header__contenido-desplegable a:hover{
        border-bottom: 1px solid black;
    }
    .iconos-profile-without-session{
        margin-left: 1%;
    }
    #header__contenido-desplegable-profile-div{
        margin-top: 0 ;
    }
    #header__contenido-desplegable-profile-div a{
        font-size: 14px;
        padding: 4% 0;
        width: 90%;
        }
     #header__contenido-desplegable-profile button{
            font-size: 20px;
            padding: 8% 2%;
            top: -4%;
        }
        #header__contenido-desplegable-profile button:hover{
            top: -1%;
        }
        .iconos-profile-without-session-user{
            font-size: 40px;
            right: 13%;
            top: 15px;
        }
        .iconos-profile-without-session-cart{
            font-size: 40px;
            top: 15px;
        }
        
        .iconos-profile-without-session p{
            top:-12px;
            right: 3px;
            font-size: 18px;
        }
} 


