.productCart__main{
    width: 100%;
    font-family: "Oxygen", sans-serif ;
}

.productCart__main__section {
    margin: 0 auto;
}
.texto-detalle{
    font-size: 16px;
}

.titulo{
   text-align: center;
   margin-top: 3%;
}

.subtitulos {
    display: flex;
}


.subtitulos h3{
    display: none
}

.contenedor-detalle{
    padding: 3%;
}

.imagen-detalle{
    width: 35%;
    margin-left: 5%;
}
.contenedor-detalle {
    background-color: var(--color-beige);
    display: flex;
    gap: 2%;
    
}

.productCart__main__section-div-detalle{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.productCart__main__section-div-detalle div{
    display: flex;
}

.productCart__main__section-div-detalle button{
    padding: 0;

    width: 50%;
    margin: 5%;
}

.productCart__main__section-div-detalle-buttons{
    border: 1px solid black;
    width: 80%;
    margin: 4% auto;
}

.productCart__main__section-div-detalle-buttons p{
   margin: 0;
   margin-top: 5%;
}

.productCart__main__section-div-detalle-subtotal{
    display: inline;
    font-size: 14px;
    margin-top: 8%;
 border-bottom: 1px solid black;
 width: 100%;
}