<footer>
    <section class="footer__section__1">
    <nav>
        <ul class="lista-footer"> 
            <h4>Contacto</h4>
            <li><a href=""><i class="fa-solid fa-map-location-dot"></i> Dr. Ignacio Pirovano 1864,<br>
                 B1665 José C. Paz,<br>
                  Provincia de Buenos Aires</a></li><br>
            <li><a href=""><i class="fa-solid fa-phone"></i> 011 3076-1743</a></li><br>
            <li><a href="https://wa.me/1130761743"><i class="fa-brands fa-whatsapp"></i> 011 3076-1743</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="lista-footer"> 
            <h4>Productos</h4>
            <li><a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Categorías</a></li><br>
            <li><a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Personalizado</a></li>
        </ul>
    </nav>
</section>
<section class="footer__section__2">
    <nav>
        <ul class="lista-footer"> 
            <h4>Seguinos en las redes</h4>
            <li><a href=""><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="lista-footer"> 
            <h4>Sobre nosotros</h4>
            <li><a href="/nosotros"><i class="fa-solid fa-circle fa-2xs"></i> Quienes somos</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="lista-footer"> 
            <h4>Consultas frecuentes</h4>
            <li><a href=""><i class="fa-solid fa-credit-card"></i> Métodos de pago</a></li><br>
            <li><a href=""><i class="fa-solid fa-truck"></i> Métodos de envío</a></li>
        </ul>
    </nav>
</section>

   <div class="desplegable">
    <button button-desplegable> Contacto <i class="fa-solid fa-caret-down"></i></button>
    <div class="contenido-desplegable">
    <a href=""><i class="fa-solid fa-map-location-dot"></i> Dr. Ignacio Pirovano 1864, B1665 José C. Paz, Provincia de Buenos Aires</a>
    <a href=""><i class="fa-solid fa-phone"></i> 011 3076-1743</a>
    <a href=""><i class="fa-brands fa-whatsapp"></i> 011 3076-1743</a>
    </div>
  </div>

  <div class="desplegable">
    <button> Productos <i class="fa-solid fa-caret-down"></i></button>
    <div class="contenido-desplegable">
    <a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Categorías</a>
    <a href=""><i class="fa-solid fa-circle fa-2xs"></i>  Personalizado</a>
    </div>
  </div>

  <div class="desplegable">
    <button > Seguinos en las redes <i class="fa-solid fa-caret-down"></i></button>
    <div class="contenido-desplegable">
    <a href=""><i class="fa-brands fa-square-facebook"></i> Facebook</a>
    </div>
  </div>

  <div class="desplegable">
    <button> Sobre nosotros <i class="fa-solid fa-caret-down"></i></button>
    <div class="contenido-desplegable">
    <a href=""><i class="fa-solid fa-circle fa-2xs"></i>Quienes somos</a>
    </div>
  </div>

  <div class="desplegable">
    <button class="button__preguntas"> Consultas frecuentes <i class="fa-solid fa-caret-down"></i></button>
    <div class="contenido-desplegable">
    <a href=""><i class="fa-solid fa-truck"></i> Métodos de pago</a>
    <a href=""><i class="fa-solid fa-credit-card"></i> Métodos de envío</a>
    </div>
  </div>

</footer>