<header class="header">

    <div class="header__menu-desplegable">
    <button class="header_boton"><i class="fa-solid fa-bars"></i></button>
        <div class="header__contenido-desplegable">
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="https://wa.me/1130761743">Muebles personalizados</a>
        </div>
        <% if (!locals.usuario) { %>
        <div class="header__contenido-desplegable header__forms">
            <a href="/users/ingresar">Ingresá</a>
            <a href="/users/registrarme">Creá tu cuenta</a>
        </div>
        <%  } else{ %>
            <div class="header__contenido-desplegable header__forms">
                <a href="/users/editar/<%=usuario.id%>">Mi cuenta</a>
            </div>
                <%  } %>
    </div>
    
    <div class="header__div-form">
        <form action="" class="input-container">
            <input class="search" type="text" placeholder="Buscar..." id="search">
            <i class="fa-solid fa-magnifying-glass lupa"></i>
        </form>
    </div>

    <img src="/img/Imagotipo.png" alt="logo">

    
    
    <% if (locals.usuario) { %>
        <div class="iconos-profile" id="iconos">
        <div class="header__menu-desplegable" id="header__contenido-desplegable-profile" >
            <button class="header_boton"><%= locals.usuario.nameAndSurname %></button>
                <div class="header__contenido-desplegable" id="header__contenido-desplegable-profile-div">
                    <a href="/users/editar/<%= locals.usuario.id %>" class="header__div__iconos-user-session">Mi cuenta</a>
                    <% if (locals.usuario.rolId == "2") { %>
                        <a href="http://localhost:5173" class="header__div__iconos-user-session">Dashboard</a>
                        <% } %>
                    <a href="/users/logout" class="header__div__iconos-user-session">Cerrar sesión</a>
                </div>
                </div>
                <div class="iconos-profile-without-session" id="iconos-profile-carrito-div">
                    <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                    <% } else { %>
                        <div class="iconos-profile-without-session-user" >
                            <a href="/users/ingresar"><i class="fa-regular fa-user"></i></a>
                        </div>
                        <div class="iconos-profile-without-session-cart">
                            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                        <%  } %>
                        
                     
                </div>
            
        
</header>