<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
<body>
  
  <main class="form-main">
  </nav>
  <section class="form_main_section">
    <h1>CARGAR PRODUCTOS</h1>
    <form action="/products/formCreate" method="POST" enctype="multipart/form-data" class="form_mainsection_form">
      <div>
        <label for="image">Imagen</label><br>
        <input type="file" name="image" id="image" accept="png jpg">
      </div>
        <div>
            <label for="name">Nombre</label><br>
            <input type="name" name="name" id="name" required>
        </div>
    
          <div>

            <label for="price">Precio</label><br>
            <input type="price" name="price" id="price" required>

          </div>

        <div>
          <label for="discount">Descuento</label><br>
          <input type="text" name="discount" id="discount" required>
      </div>
  

          <div>

            <label for="descripcion">Descripción</label><br>
            <input type="descripcioin" name="description" id="descripcion" required>
          </div>
  
          <div>
            <label for="adicional">Descripción Adicional</label><br>
            <input type="adicional" name="extraDescription" id="adicional" required>
          </div>

          <div>
            <label for="category">Categoria</label><br>
            <select type="category" name="category" id="category" required>
              <option value="Living">Living</option>
              <option value="Cocina">Cocina</option>
              <option value="Dormitorio">Dormitorio</option>
              <option value="Exterior">Exterior</option>
              <option value="Combos">Combos</option>
              <option value="New in">New in</option>

            </select>
            
          </div>

          <div>
            <label for="medidias">Medidas</label><br>
            <input type="height" name="height" id="height" placeholder="Alto..." required><br><br><br>
            <input type="width" name="width" id="width" placeholder="Ancho..." required><br><br><br>
            <input type="depth" name="depth" id="depth" placeholder="Profundidad..." required>


          
          <button type="submit">Cargar Producto</button> 
          
    </form>
    
  </section>
  
   </main>
   <%- include("../partials/footer.ejs") %>

</body>
</html>