<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
<body>
  
  

  </nav>
  <section class="form_main_section">
    <h1>CARGAR PRODUCTOS</h1>
    <form action="form" method="post" class="form_mainsection_form">
      <div>
        <label for="imagen">Imagen</label><br>
        <input type="file" accept="png jpg">
      </div>
        <div>
            <label for="name">Nombre</label><br>
            <input type="text" name="nombre" id="name" required>
        </div>
    
          <div>
            <label for="precio">Precio</label><br>
            <input type="precio" name="precio" id="precio" required>
          </div>
  

          <div>
            <label for="descripcion">Descripción</label><br>
            <input type="descripcion" name="descripcion"passwo id="descripcion" required>
          </div>
  
          <div>
            <label for="adicional">Descripción Adicional</label><br>
            <input type="adicional" name="adicional" id="adicional" required>
          </div>
          <div>
            <label for="medidas">Medidas</label><br>
            <input type="medidas" name="medidas" id="medidas" required>
          </div>
          
          <button class="form-button--a"><a href="Cargar Producto">Cargar Producto</a></button> 
          
    </form>
    
  </section>
  
   </main>
   <%- include("../partials/footer.ejs") %>

</body>
</html>