
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>
    </nav>
    <section class="edform_main_section">
        <h1>Editar Producto</h1>
        <form action="edform" method="post" class="edform_mainsection_form">
          <div>
            <label for="tel">Imagen</label><br>
            <input type="file" accept="png jpg">
          </div>
            <div>
                <label for="name">Nombre</label><br>
                <input type="text" name="nombre" id="name" required>
            </div>
        
              <div>
                <label for="price">Precio</label><br>
                <input type="price" name="price" id="price" required>
              </div>
      
    
              <div>
                <label for="description">Descripción</label><br>
                <input type="description" name="description" id="description" required>
              </div>
      
              <div>
                <label for="descriptions a">Descripción Adicional</label><br>
                <input type="descriptions a" name="descriptions a" id="descriptions a" required>
              </div>
              <div>
                <label for="measures">Medidas</label><br>
                <input type="measures" name="measures" id="measures" required>
              </div>

            <button type="submit">Editar</button>
            <button type="submit">Borrar</button>

        </form>

    </section>

    </main>
       <%- include("../partials/footer.ejs") %>

</body>

</html>