<%- include("../partials/head.ejs") %>

<body>

    <%- include("../partials/header.ejs") %>

    <main class="productCart__main">
        <h1 class="titulo">Carrito de compra</h1>
        <section class="productCart__main__section">

            
        </section>
        <article class="subtotal_precio">
            <h2>Resumen de compra</h2>
            <div>
                <h4 class="subtotal  ">Subtotal</h4>
                <h4 class="precio-total productCart__main__section_article-resumen-subtotal">$950000</h4>
                <h4>Descuentos aplicados</h4>
            <h4 class="productCart__main__section_article-resumen-discounts">$50000</h4>
            
            <h4 class="subtotal">Total</h4>
            <h4 class="precio-total productCart__main__section_article-resumen-total">$950000</h4>
            </div>
        
    
            
            <div class="linea"></div>
        </article>
        <button class="productCart__main_buttons"><a href="/">Continuar comprando</a></button>
            <button class="productCart__main_buttons">Finalizar compra</button>
    </main>

    <%- include("../partials/footer.ejs") %>
    
    <script src="/js/productCart.js" ></script>
    <script src="/js/header.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/header.js" ></script>
</body>

</html>