<%- include("../partials/head.ejs") %>

<body>

    <%- include("../partials/header.ejs") %>

    <main class="productCart__main">
        <h1 class="titulo">Carrito de compra</h1>
        <section class="productCart__main__section">

            

            <div class="subtitulos">
                <h3 class="producto">Producto</h3>
                <h3 class="precio-sillon">Precio</h3>
                <h3 class="Cantidad">Cantidad</h3>
                <h3 class="total">Total</h3>
            </div>
          
            <article class="contenedor-detalle">
                <h3 class="contenedor-detalle-name">Desayunador</h3>
                    <a href=""><img class="imagen-detalle" src="/img/desayunador.png" alt="producto"></a>
                <div class="productCart__main__section-div-detalle">
                    <h3 class="texto-detalle">Desayunador</h3>
 

             <div class="productCart__main__section-div-detalle-buttons">
                    <button class="uno">-</button>
                    <p>1</p>
                    <button class="uno">+</button>
                </div>
                    <h4 class="productCart__main__section-div-detalle-subtotal">Precio $95000</h4>
                </div>
            </article>

                
            </div>
            
        </section>
        <article class="subtotal_precio">
            <h2>Resumen de compra</h2>
            <div>
                <h4 class="subtotal">Subtotal</h4>
                <h4 class="precio-total">$950000</h4>
                <h4>Descuentos aplicados</h4>
            <h4>$50000</h4>
            
            <h4 class="subtotal">Total</h4>
            <h4 class="precio-total">$950000</h4>
            </div>
        
    
            
            <div class="linea"></div>
        </article>
        <button class="productCart__main_buttons"><a href="/">Continuar comprando</a></button>
            <button class="productCart__main_buttons">Finalizar compra</button>
    </main>

    <%- include("../partials/footer.ejs") %>
    <script src="/js/productCart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>