<%- include("../partials/head.ejs") %>

<body>

    <%- include("../partials/header.ejs") %>

    <main class="productCart__main">
        <section class="productCart__main__section">
            <div class="titulo-icon">
                <p class="titulo">Carrito de compra</p>
                
            </div>

            <div class="subtitulos">
                <h3 class="producto">Producto</h3>
                <h3 class="precio-sillon">Precio</h3>
                <h3 class="Cantidad">Cantidad</h3>
                <h3 class="total">Total</h3>
            </div>
          
            <article class="contenedor-detalle">
                    <img class="imagen-detalle" src="/img/desayunador.png" alt="producto">
                <div class="productCart__main__section-div-detalle">
                    <h3 class="texto-detalle">Desayunador</h3>
 

             <div class="productCart__main__section-div-detalle-buttons">
                    <button class="uno">-</button>
                    <p>1</p>
                    <button class="uno">+</button>
                </div>
                
                    <h4 class="productCart__main__section-div-detalle-subtotal">Subtotal $95000</h4>
                </div>
            </article>


                <article class="actualizar_seguir">
                    <span class="boton1">
                        <button>Seguir comprando</button></span>
                    <span class="boton2"><button>Actualizar carrito</button></span>

                </article>
            </div>
            
        </section>
        <article class="subtotal_precio">
            <h2 class="subtotal">Subtotal</h2>
            <h2 class="precio-total">$950000</h2>
        </article>
        
        <article class="finalizar-compra">
            <button class="finalizar">Finalizar compra</button>
            <div class="linea"></div>
        </article>
    </main>

    <%- include("../partials/footer.ejs") %>
</body>

</html>