<%- include("../partials/head.ejs") %>

<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <section >
            <div class="titulo-icon">
                <p class="titulo">Carrito de compra</p>
                <a href="/"><i class="fa-solid fa-cart-shopping icon-cart carrito" style="color: #000000;"></i></a>
            </div>
            <hr>
            <div class="subtitulos">
                <h3 class="producto">Producto</h3>
                <h3 class="precio-sillon">Precio</h3>
                <h3 class="Cantidad">Cantidad</h3>
                <h3 class="total">Total</h3>
            </div>
            <hr>
            <div class="contenedor-detalle">
                <div class="producto-detalle">
                    <img class="imagen-detalle" src="/img/mueblecocina.jpg" alt="producto" width="50%">
                    <h4 class="texto-detalle">Combo de cocina en mdf con
                        contorno y tiradores de aluminio.</h4>
                </div>

                <div class="producto-precio">
                    <h4>$95000</h4>
                </div>
                <div class="producto-cantidad">
                    <button class="uno">- 1 +</button>
                </div>
                <div class="producto-total">
                    <h4>$95000</h4>
                </div>


                <article class="actualizar_seguir">
                    <span class="boton1">
                        <button>Seguir comprando</button></span>
                    <span class="boton2"><button>Actualizar carrito</button></span>

                </article>
            </div>
            <hr>
        </section>
        <article class="subtotal_precio">
            <h2 class="subtotal">Subtotal</h2>
            <h2 class="precio-total">$950000</h2>
        </article>
        
        <article class="finalizar-compra">
            <button class="finalizar">Finalizar compra</button>
            <a href="//parzibyte.me/blog"></a>
            <div class="linea"></div>
        </article>
    </main>

    <%- include("../partials/footer.ejs") %>
</body>

</html>