.bg-gradient-secondary{
    background-color: black !important;
    background-image: linear-gradient(180deg, #D1D1D1 10%, #D1D1D1 100%) !important;
    width: 18% !important;
}


.sidebar-dark .nav-item.active .nav-link {
    color: black !important;
}

.sidebar-dark .nav-item.active .nav-link i{
    color: black !important;
}

.sidebar-dark .nav-item .nav-link {
    color: black !important
}

.sidebar-dark .nav-item .nav-link i{
    color: black !important
}

.sidebar-dark .sidebar-heading {
    color: black !important
}

.nav-link a:hover{
    text-decoration: underline;
}


.nav-link span:hover{
    text-decoration: underline;
}